# This service is actually a systemd target,
# but we are using a service since targets cannot be reloaded.

[Unit]
Description=sFlow Tool service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true
WorkingDirectory=/etc/sflowtool

[Install]
WantedBy=multi-user.target
